In [8]:
#list of items
items = [23,67,'apple', 'banana',True,45.3]
print(items)

[23, 67, 'apple', 'banana', True, 45.3]

In [9]:
#tuple of items
items = (23,67,'apple','banana', True,45.3)
print(items)

(23, 67, 'apple', 'banana', True, 45.3)

In [10]:
#set of items
items = {23,67,'apple','banana',True,45.3,'banana',45.3}
print(items)

{True, 67, 23, 'apple', 'banana', 45.3}

In [14]:
#Dictionary of items
Student={
    "name": "john",
    "age" : 23,
    "gender":"male",
    "address": "123 main st"
}
print(Student)

{'name': 'john', 'age': 23, 'gender': 'male', 'address': '123 main st'}

In [15]:
a =66787.787
type(a)

float

There are two ways to take input
- Direct assigning values in a variable
- Taking input from the user

In [17]:
a ="hello"
print(a)

hello

In [21]:
a = input("Enter the number")
print(a)

78

In [20]:
type(a)

str

In [23]:
a = input("Enter the number")
b = input("Enter the another number")
a1 = int(a) #typecasting - converting string to integer
b1 = int(b)
print(a1+b1)

11

In [24]:
a = int(input("Enter a number"))
print(a)

9

In [1]:
poem = '''twinkle twinkle little star
how i wonder what u r
up above the world to high
little a diamond in the sky'''
print(poem)

twinkle twinkle little star
how i wonder what u r
up above the world to high
little a diamond in the sky