In [2]:
student={
    "name": "john",
    "age" : 23,
    "gender":"male",
    "address": "123 main st",
    "rollno": 12,
    "marks" :60,
    "class":"physics"

}
print(student)

{'name': 'john', 'age': 23, 'gender': 'male', 'address': '123 main st', 'rollno': 12, 'marks': 60, 'class': 'physics'}

. How to declare it 
. How to access key 
. How to use loops in dictionary
. Indexing in dictionary

In [3]:
temp ={
    'lucknow':[25,30,35],
    'delhi':[30,35,40],
    'mumbai':[35,40,45]
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'mumbai': [35, 40, 45]}

In [4]:
info = dict(name='John', age=18, rollno=12, marks=60)
print(info)

{'name': 'John', 'age': 18, 'rollno': 12, 'marks': 60}

In [5]:
info2= dict(name = input("Enter name:"), age=int(input("Enter age:")),
rollno = int(input("Enter rollno")), marks = int(input("Enter marks:")))
print(info2)

ValueError: invalid literal for int() with base 10: ''

# 1st method to access value through its key

In [26]:
print(info2['name'])
print(info2['age'])

abhi
12

In [27]:
#2nd method to acces value through its key
print(info2.get('name'))
print(info2.get('marks'))

abhi
12

In [28]:
# to add items in a dictionary
student['city'] = 'Lucknow'
print(student)

{'name': 'john', 'age': 23, 'gender': 'male', 'address': '123 main st', 'rollno': 12, 'marks': 60, 'class': 'physics', 'city': 'Lucknow'}

In [29]:
print(student.keys())
print(student.values())

dict_keys(['name', 'age', 'gender', 'address', 'rollno', 'marks', 'class', 'city'])
dict_values(['john', 23, 'male', '123 main st', 12, 60, 'physics', 'Lucknow'])

In [30]:
for k in student:
    print(k)

name
age
gender
address
rollno
marks
class
city

In [33]:
for k,v in student.items():
    print(f'{k}: {v}' )

name: john
age: 23
gender: male
address: 123 main st
rollno: 12
marks: 60
class: physics
city: Lucknow

In [35]:
# multiple dictionary
company ={
    'emp001' :{
        'name ' : 'John',
        'age' : 25,
        'dept' : 'HR'
    },
    'emp002' :{
        'name ' : 'John',
        'age' : 30,
        'dept' : 'IT'
    },
    'emp003' :{
        'name ' : 'smith',
        'age' : 25,
        'dept' : 'finance'
    }
}
print(company)

{'emp001': {'name ': 'John', 'age': 25, 'dept': 'HR'}, 'emp002': {'name ': 'John', 'age': 30, 'dept': 'IT'}, 'emp003': {'name ': 'smith', 'age': 25, 'dept': 'finance'}}

In [36]:
from pprint import pp
pp(company)

{'emp001': {'name ': 'John', 'age': 25, 'dept': 'HR'},
 'emp002': {'name ': 'John', 'age': 30, 'dept': 'IT'},
 'emp003': {'name ': 'smith', 'age': 25, 'dept': 'finance'}}

In [38]:
print(company['emp002'] ['age'])

30

In [39]:
print(temp['lucknow'][1])
print(temp['delhi'][2])

30
40

In [6]:
print('Average Temprature of delhi is :', sum (temp['delhi']) /len(temp['delhi']))

Average Temprature of delhi is : 35.0